@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #1f2937;
  --background-color: #e5e7eb;
  --glow-color: #6ee7b7;
  --highlight-text: #10b981;
  --button: #6ee7b7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --background-color: #000;
    --glow-color: #14532d;
    --highlight-text: #059669;
    --button: #34d399;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 1440px) {
  .glowing-txt {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .glowing-txt {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .glowing-txt {
    font-size: 1rem;
    letter-spacing: 6px;
  }
}

@media (max-width: 576px) {}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--background-color);
  opacity: 0.8;
  box-shadow: 0 8px 32px 0 var(--glow-color);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px 0 solid rgba(255, 255, 255, 0.18);
  z-index: 1;
}

nav {
  padding: 20px 30px;
}

.logo {
  font-size: 22px;
  color: var(--foreground-color);
}

.logo span span {
  color: var(--highlight-text);
}

.menu a {
  display: block;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
  color: var(--foreground-color);
}

.menu a::first-letter {
  color: var(--highlight-text);
}

.menu a:not(.menu-btn):hover {
  transform: scale(1.1);
}

.menu-btn {
  background: var(--button);
  border-radius: 16px;
}

.menu-btn:hover {
  background: #9ca3af;
  transform: none;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 50px;
}

.hero-text p {
  text-align: center;
  font-size: 20px;
}

.hero-text h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.heading h1 {
  font-size: 50px;
  text-align: center;
}

.heading h1 span {
  color: var(--highlight-text);
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
  }

  .hero-text p {
    font-size: 15px;
  }
}

.pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pfp img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

.hero-typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;
  font-size: 40px;
}

.typewriter {
  color: var(--highlight-text);
}

@media (max-width: 768px) {
  .hero-typewriter {
    font-size: 25px;
  }
}